/* ===========================================================================
/// <summary>
/// sidebar.css
/// next-shoƥer
/// created by Mehrdad Soleimanimajd on 20.07.2023
/// </summary>
/// <created>ʆϒʅ, 20.07.2023</created>
/// <changed>ʆϒʅ, 26.07.2023</changed>
=========================================================================== */

aside {
    clear: both;
    grid-row: 1 / span 2;
    grid-column: 1;
    float: left;
    height: 100%;
}

ul {
    float: none;
    display: list-item;
}

#square-menu div {
    float: left;
}
/* #square-menu div::after {
} */

#square-menu-span span {
    display: block;
    float: left;
    background-color: rgba(243, 238, 238, 0.865);
    /* border: 10px solid #rgba(8, 95, 247, 0.96); */
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 2px;
}
#hamburger-menu-span {
    clear: both;
}
#hamburger-menu-span span {
    display: block;
    background-color: rgba(243, 238, 238, 0.865);
    /* border: 10px solid #rgba(8, 95, 247, 0.96); */
    width: 24px;
    height: 5px;
    border-radius: 5px;
    margin: 2px;
}

#square-menu input {
    display: none;
    /* float: none; */
    /* clear: both; */
}

/* aside:hover ~div span { */
/* label.test:hover~ div span{ */
/* #square-menu:hover ~div span { */
#square-menu input:checked ~ div span {
    background-color: #d00202;
    /* width: 30px; */
}

#hyphen-menu {
    /* clear: both; */
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 300px;
}
#hyphen-menu input {
    display: none;
}
#hyphen-menu span {
    /* float: left; */
    position: relative;
    left: 30px;
    top: -25px;
    font-size: 30px;
}
#hyphen-menu:hover span {
    left: 2px;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease;
    color: red;
}
#hyphen-menu input:checked ~ p {
    color: blue;
}
#hyphen-menu input:checked ~ span {
    left: 2px;
    color: red;
}

ul {
    clear: both;
}
