/* ===========================================================================
/// <summary>
/// globals.css
/// next-shoƥer
/// created by Mehrdad Soleimanimajd on 10.07.2023
/// </summary>
/// <created>ʆϒʅ, 10.07.2023</created>
/// <changed>ʆϒʅ, 21.07.2023</changed>
=========================================================================== */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color-start: rgba(162, 199, 224, 0.721);
    --background-color-end: rgba(238, 220, 220, 0.8);
}

a {
    color: black;
}
a:hover {
    color: rgba(192, 40, 243);
}

@media() {
}

body {
    display: grid;
    grid-template: 10% auto / 10% auto;
    gap: 2px;
    color: darkslategrey;
    background: linear-gradient(
        var(--background-color-start),
        80%,
        var(--background-color-end)
    );
    padding: 30px;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    padding-left: 10%;
}

#view-content {
    grid-row: 2;
    grid-column: 2;
    padding: 20%;
    margin-left: 5%;
    /* width: 90%;
    height: 90%; */
}

nextjs-portal{
    display: none;
}

next-route-announcer {
    display: none;
}
