/* ===========================================================================
/// <summary>
/// globals.css
// next-shoƥer
/// created by Mehrdad Soleimanimajd on 10.07.2023
/// </summary>
/// <created>ʆϒʅ, 10.07.2023</created>
/// <changed>ʆϒʅ, 18.07.2023</changed>
=========================================================================== */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color-start: 0, 157, 255, 0.47;
    --background-color-end: 0, 0, 0, 0.46;
}

a {
    color: black;
}
a:hover {
    color: rgba(192, 40, 243);
}

@media() {
}

body {
    color: darkslategrey;
    background: linear-gradient(
        rgba(var(--background-color-start)),
        20%,
        rgba(var(--background-color-end))
    );
}
